---
import "@fontsource/geist-mono/400.css";
import "@fontsource/geist-mono/900.css";

import geistMono400 from "@fontsource/geist-mono/files/geist-mono-latin-400-normal.woff2?url";
import geistMono900 from "@fontsource/geist-mono/files/geist-mono-latin-900-normal.woff2?url";

import "../base.css";
import ThemeManager from "../components/ThemeManager.astro";
import { ClientRouter } from "astro:transitions";
import { ModeWatcher } from "mode-watcher";
import ThemeSwitcher from "../components/theme-switcher.svelte";

import { db, Menu } from "astro:db";

const menu = await db.select().from(Menu).all();
---

<!doctype html>
<html lang="en">
	<head>
		<ModeWatcher client:load />
		<ThemeManager defaultTheme="auto" />
		<ClientRouter />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta charset="UTF-8" />
		<meta name="generator" content={Astro.generator} />
		<title>nate.space / @natedunn</title>
		<link
			rel="preload"
			as="font"
			type="font/woff2"
			href={geistMono400}
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			as="font"
			type="font/woff2"
			href={geistMono900}
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<nav class="flex flex-row gap-2 items-center container justify-between">
			<div>
				<a
					class="text-xl font-bold text-foreground p-5 inline-flex items-center size-5 justify-center bg-muted hocus:bg-primary text-muted-background hocus:text-background"
					href="/">&ntilde;</a
				>
			</div>
			<div class="flex items-center gap-2">
				<ul class="flex flex-row items-center gap-1">
					{
						menu.map((item) => {
							return (
								<li>
									{/* prettier-ignore */}
									<a class="text-sm bg-muted hocus:bg-primary text-muted-background hocus:text-background underline-offset-4 hocus:underline underline decoration-foreground/50 hocus:decoration-background decoration-dotted hocus:decoration-solid py-2 px-3 inline-block" href={item.url}>{item.text}</a>
								</li>
							);
						})
					}
				</ul>
				<ThemeSwitcher client:load />
			</div>
		</nav>
		<slot />
		<footer>
			<p>© 2023 Nate Dunn</p>
		</footer>
	</body>
</html>
